*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
    justify-content: center;
    display:flex;
    align-items: center;
}

#main{
    height:50%;
    width:50%;
    align-items: center;
    display:flex;
    justify-content: center;
}

.square{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    height:200px;
    width:200px;
    background-color: white;
    border: solid 3px;
    font-family:sans-serif;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;

}

#kite{
    rotate: 45deg;
    margin-top: 50px;
}

#circle{
    border-radius: 50%;
}

#kite:hover{
    background-color: red;
}

.square:hover{
    background-color: pink;
}

#circle:hover{
    background-color: blueviolet;
}